.dropdown {
    display: block !important;
}

.manage-header {
    background-color: #000;
    color: #fff;
    height: 60px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    font-size: 3rem;
}

.header-account-name {
    margin: 0 6px;
}

.manage-body {
    display: flex;
}

.body-nav {
    height: 100vh;
    flex-grow: 1;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.body-wrap {
    flex-grow: 11;
}

.body-nav-list {
    height: 100%;
    padding: 0;
}

.body-nav-item {
    color: #fff;
    list-style: none;
    font-size: 2rem;
    padding: 20px 10px;
    display: block;
    cursor: pointer;
    user-select: none;
}

.body-subnav-list {
    display: none;
    padding: 0 0 0 30px;
}

.body-subnav-item {
    color: #fff;
    list-style: none;
    padding: 10px;
    user-select: none;
    cursor: pointer;
}
