.wrapper {
    margin-bottom: 30px;
}

.normal-product {
    padding: 0;
    background-color: #fff;
    text-transform: none;
    text-align: center;
}

.product-img {
    height: 140px;
}

.product-price {
    font-size: 1.6rem;
    color: var(--sub-color);
}
.product-title {
    font-size: 1.4rem;
    color: #000;
    height: 60px;
    padding: 8px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-transform: capitalize;
}
