.bg-blue {
    background-color: #02c7f2 !important;
}

.category-header {
    background-color: #ddd;
    color: #686868;
    font-size: 2rem;
    padding: 10px;
}

.category-func {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px 30px;
}

.category-search {
}

.category-search-input {
    border: 1px solid #686868;
    padding: 4px 10px;
}

.category-search-btn {
    background-color: var(--primary-color);
    color: #fff;
    padding: 7px 10px;
    margin-left: 8px;
}

.category-add-product {
    padding: 6px 12px !important;
    font-size: 1.2rem !important;
}

.category-table {
    text-align: center;
}

.category-table-img {
    width: 100px;
}

.category-table-actions {
}

.category-table-action {
    font-size: 1.6rem;
    margin: 0 4px;
    padding: 6px;
    color: #fff;
    background-color: red;
}
