.pagination {
    margin-top: 60px;
    justify-content: flex-end;
}
.pagination-item > a {
    font-size: 1.4rem;
    color: #686868;
    padding: 12px;
    border: 1px solid #ddd;

    :active {
        color: red;
    }
}

.active > a {
    color: #fff;
    background-color: var(--primary-color);
}
